<section class="advantage wrapper">
	<div class="left"></div>
	<div class="right">
		<div class="advantage__open section__open">
			<img src="img/advantage/line.png">
			<h2 class="advantage__title title">Наши преимущества</h2>
		</div>

		<div class="advantage__block">
			<div class="advantage__left">
				<ul class="advantage__left-list">
					<li class="advantage__left-list-item">
						<img src="img/advantage/idea.png">
						Комплексные решения
					</li>
					<li class="advantage__left-list-item">
						<img src="img/advantage/delivery.png">
						Быстрая доставка и монтаж
					</li>
					<li class="advantage__left-list-item">
						<img src="img/advantage/union.png">
						Сервисное обслуживание
					</li>
				</ul>

			</div>
			<div class="advantage__right">
				<div class="advantage__right-banner">
					<img src="img/advantage/banner.png" alt="баннер">
					<h3 class="advantage__right-title">Лучшие серцифицированные специалисты</h3>
				</div>
			</div>
		</div>

	</div>
</section>
