<section class="contacts wrapper" id="contacts">
	<div class="left"></div>
	<div class="contacts__container right">
		<div class="contacts__container-open section__open">
			<img src="img/advantage/line.png">
			<h2 class="contacts__container-title title">Контакты</h2>
		</div>
		<div class="contacts__wrapper container--flex">
			<div class="contacts__left">
				<div class="contacts__map" id="map"></div>
			</div>
			<div class="contacts__right">
				<ul class="contacts__right-list">
					<li class="contacts__right-item">
						<a href="tel:+78127726242" class="contacts__right-link" aria-label="телефон +7812772624">+7
							(812) 772-62-42</a>
					</li>
					<li class="contacts__right-item">
						<a href="mailto:info@mistral.ru" class="contacts__right-link"
							aria-label="info@mistral.ru">info@mistral.ru</a>
					</li>
					<li class="contacts__right-item">
						<address>
							Санкт-Петербург, ул. Крупской, 55
						</address>
					</li>
				</ul>
				<ul class="contacts__right-social">
					<li class="contacts__right-social-item">
						<a class="contacts__right-social-link" href="https://vk.com">
							<img src="img/contacts/vk.png" alt="VK">
						</a>
					</li>
					<li class="contacts__right-social-item">
						<a class="contacts__right-social-link" href="https://www.facebook.com/">
							<img src="img/contacts/fb.png" alt="Facebook">
						</a>
					</li>
					<li class="contacts__right-social-item">
						<a class="contacts__right-social-link" href="https://www.instagram.com/">
							<img src="img/contacts/insta.png" alt="Instagram">
						</a>
					</li>
					<li class="contacts__right-social-item">
						<a class="contacts__right-social-link" href="https://www.youtube.com/">
							<img src="img/contacts/you.png" alt="YT">
						</a>
					</li>
				</ul>
				<button class="contacts__right-btn btn btn--blue">Написать директору</button>
			</div>
		</div>
	</div>
</section>
