<section class="discount wrapper">
	<div class="left"></div>
	<div class="discount__container right">
		<h2 class="visually-hidden">Форма заявки на скидку</h2>
		<div class="discount__container-content">
			<h3 class="discount__container-content-name">Заполните заявку сейчас и получите скидку</h3>
			<p class="discount__container-content-descr">—20% <span>на монтажные работы</span></p>
			<form class="discount__container-content-form form">
				<label>
					<input required type="text" name="name" class="form-field" placeholder="Ваше имя"
						data-validate-field="name">
				</label>
				<label>
					<input required type="tel" name="tel" class="form-field" placeholder="Номер телефона"
						data-validate-field="tel">
				</label>
				<button class="form-btn btn btn--blue">Получить скидку</button>
			</form>
		</div>
	</div>
</section>
