<header class="header">
	<div class="header__container container container--flex">
		<a href="#" class="header__logo" aria-label="логотип компании">
			<img src="img/header/logo.png" alt="логотип компании">
		</a>
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-list-item"><a href="#catalog" class="header__nav-list-link link">
						<svg>
							<use xlink:href="img/sprite.svg#dash"></use>
						</svg>
						Каталог
					</a></li>
				<li class="header__nav-list-item"><a href="#" class="header__nav-list-link link">
						<svg>
							<use xlink:href="img/sprite.svg#dash"></use>
						</svg>Услуги
					</a></li>
				<li class="header__nav-list-item"><a href="#" class="header__nav-list-link link">
						<svg>
							<use xlink:href="img/sprite.svg#dash"></use>
						</svg>
						О компании
					</a></li>
				<li class="header__nav-list-item"><a href="#" class="header__nav-list-link link">
						<svg>
							<use xlink:href="img/sprite.svg#dash"></use>
						</svg>
						Оплата и доставка
					</a></li>
				<li class="header__nav-list-item"><a href="#contacts" class="header__nav-list-link link">
						<svg>
							<use xlink:href="img/sprite.svg#dash"></use>
						</svg>
						Контакты
					</a></li>
			</ul>
		</nav>
		<div class="header__buttonset">
			<button class="header__btn btn btn-call">Обратный звонок</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#search"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#user"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#skils"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#heart"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</button>

		</div>
	</div>
</header>

<header class="header__minidesk">
	<div class="header__container container container--flex">
		<a href="#" class="header__logo" aria-label="логотип компании">
			<img src="img/header/logo.png" alt="логотип компании">
		</a>
		<button aria-label="раскрыть меню" id="burger" class="btn burger">
			<svg width="36" height="29" viewbox="0 0 36 29" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect width="36" height="3.65217" transform="matrix(-1 0 0 1 36 0.699997)" fill="black" />
				<path d="M28.2002 12.8739H0.00019455V16.5261H28.2002V12.8739Z" fill="black" />
				<path d="M24 25.0478H0V28.7H24V25.0478Z" fill="black" />
			</svg>
		</button>
		<div class="header__buttonset">
			<button class="header__btn btn btn-call">Обратный звонок</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#search"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#user"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#skils"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#heart"></use>
				</svg>
			</button>
			<button class="header__btn btn-general btn">
				<svg>
					<use xlink:href="img/sprite.svg#basket"></use>
				</svg>
			</button>
		</div>
	</div>
	<nav class="header__nav container">
		<ul class="header__nav-list">
			<li class="header__nav-list-item"><a href="#catalog" class="header__nav-list-link link">
					<svg>
						<use xlink:href="img/sprite.svg#dash"></use>
					</svg>
					Каталог
				</a></li>
			<li class="header__nav-list-item"><a href="#" class="header__nav-list-link link">
					<svg>
						<use xlink:href="img/sprite.svg#dash"></use>
					</svg>Услуги
				</a></li>
			<li class="header__nav-list-item"><a href="#" class="header__nav-list-link link">
					<svg>
						<use xlink:href="img/sprite.svg#dash"></use>
					</svg>
					О компании
				</a></li>
			<li class="header__nav-list-item"><a href="#" class="header__nav-list-link link">
					<svg>
						<use xlink:href="img/sprite.svg#dash"></use>
					</svg>
					Оплата и доставка
				</a></li>
			<li class="header__nav-list-item"><a href="#contacts" class="header__nav-list-link link">
					<svg>
						<use xlink:href="img/sprite.svg#dash"></use>
					</svg>
					Контакты
				</a></li>
		</ul>
	</nav>
</header>
