<section class="news wrapper">
	<div class="left"></div>
	<div class="news__container right">
		<div class="news__container-open section__open">
			<img src="img/advantage/line.png">
			<h2 class="news__container-title title">Новости и статьи</h2>
		</div>

		<div class="news__container-grid">
			<ul class="news__container-grid-list">
				<li class="news__container-grid-item article">
					<article class="article__news">
						<img src="img/news/1.png" alt="изображение к статье" class="article__news-img">
						<p class="article__news-name">Как настроить работу кондиционера</p>
						<p class="article__news-descr">
							Прежде всего, постоянный количественный рост и&nbsp;сфера нашей активности создаёт предпосылки для позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий требует от&nbsp;нас анализа первоочередных требований.
						</p>
						<a href="#" class="article__news-link link">Читать подробнее</a>
					</article>
				</li>
				<li class="news__container-grid-item article">
					<article class="article__news">
						<img src="img/news/2.png" alt="изображение к статье" class="article__news-img">
						<p class="article__news-name">Новинки в мире кондиционеров</p>
						<p class="article__news-descr">
							Прежде всего, постоянный количественный рост и&nbsp;сфера нашей активности создаёт предпосылки для позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
						</p>
						<a href="#" class="article__news-link link">Читать подробнее</a>
					</article>
				</li>
			</ul>
			<ul class="news__container-grid-list">
				<li class="news__container-grid-item article">
					<article class="article__news">
						<img src="img/news/3.png" alt="изображение к статье" class="article__news-img">
						<p class="article__news-name">Вентиляция для частного дома</p>
						<p class="article__news-descr">
							Прежде всего, постоянный количественный рост и&nbsp;сфера нашей активности создаёт предпосылки для позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий требует от&nbsp;нас анализа первоочередных требований. Учитывая ключевые сценарии поведения
						</p>
						<a href="#" class="article__news-link link">Читать подробнее</a>
					</article>
				</li>
				<li class="news__container-grid-item article">
					<article class="article__news">
						<img src="img/news/4.png" alt="изображение к статье" class="article__news-img">
						<p class="article__news-name">Новость № 4</p>
						<p class="article__news-descr descr-none">
							Прежде всего, постоянный количественный рост и&nbsp;сфера нашей активности создаёт предпосылки для позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий требует от&nbsp;нас анализа первоочередных требований. Учитывая ключевые сценарии поведения
						</p>
						<a href="#" class="article__news-link link">Читать подробнее</a>
					</article>
				</li>
			</ul>
			<ul class="news__container-grid-list">
				<li class="news__container-grid-item article">
					<article class="article__news">
						<img src="img/news/5.png" alt="изображение к статье" class="article__news-img">
						<p class="article__news-name">Вентиляция для промышленных помещений</p>
						<p class="article__news-descr">
							Прежде всего, постоянный количественный рост и&nbsp;сфера нашей активности создаёт предпосылки для позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий требует от&nbsp;нас анализа первоочередных требований.
						</p>
						<a href="#" class="article__news-link link">Читать подробнее</a>
					</article>
				</li>
				<li class="news__container-grid-item article">
					<article class="article__news">
						<img src="img/news/6.png" alt="изображение к статье" class="article__news-img">
						<p class="article__news-name">Новость № 5</p>
						<p class="article__news-descr descr-none">
							Прежде всего, постоянный количественный рост и&nbsp;сфера нашей активности создаёт предпосылки для позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Учитывая ключевые сценарии поведения, семантический разбор внешних противодействий требует от&nbsp;нас анализа первоочередных требований. Учитывая ключевые сценарии поведения
						</p>
						<a href="#" class="article__news-link link">Читать подробнее</a>
					</article>
				</li>

			</ul>
		</div>
	</div>
</section>
