<section class="reputation wrapper">
	<div class="left"></div>
	<div class="reputation__block-wrapper right container--flex">
		<div class="reputation__block-left">
			<div class="reputation__block-left-open section__open">
				<img src="img/advantage/line.png">
				<h2 class="reputation__block-title title">Отзывы</h2>
			</div>


			<div class="reputation__swiper-container">
				<div class="swiper-button-prev reputation-button-prev">
					<svg>
						<use xlink:href="img/sprite.svg#prev"></use>
					</svg>
				</div>

				<div class="swiper-button-next reputation-button-next">
					<svg>
						<use xlink:href="img/sprite.svg#prev"></use>
					</svg>
				</div>

				<div class="reputation__swiper">

					<div class="swiper-wrapper">
						<div class="reputation-slide">
							<img src="img/reputation/phone.jpg">
						</div>
						<div class="reputation-slide">
							<img src="img/reputation/phone.jpg">
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="reputation__block-right">
			<div class="reputation__block-right-open section__open">
				<img src="img/advantage/line.png">
				<h2 class="reputation__block-title title">Сертификаты</h2>
			</div>
			<ul class="reputation__block-right-list">
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
				<li class="reputation__block-right-item">
					<img src="#" alt="">
				</li>
			</ul>


			<div class="reputation__block-right-slider">
				<div class="swiper-wrapper">
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
					<div class="reputation__block-right-item sertificate-slide">
						<img src="#" alt="">
					</div>
				</div>
				<div>
				</div>
			</div>
</section>
