<section class="scheme wrapper">
	<div class="left"></div>
	<div class="scheme__container right">
		<div class="scheme__container-open section__open">
			<img src="img/advantage/line.png">
			<h2 class="scheme__container-title title">Схема работы</h2>
		</div>

		<ul class="scheme__container-list">
			<li class="scheme__container-list-item item">
				<a href="#" class="scheme__container-list-link">
					<span class="item-number">1</span>
					<span class="item-text">Описание первого этапа</span>
				</a>
			</li>
			<li class="scheme__container-list-item item">
				<a href="#" class="scheme__container-list-link">
					<span class="item-number">2</span>
					<span class="item-text">Описание второго этапа</span>
				</a>
			</li>
			<li class="scheme__container-list-item item">
				<a href="#" class="scheme__container-list-link">
					<span class="item-number">3</span>
					<span class="item-text">Третий этап</span>
				</a>
			</li>
			<li class="scheme__container-list-item item">
				<a href="#" class="scheme__container-list-link">
					<span class="item-number">4</span>
					<span class="item-text">Описание четвертого этапа</span>
				</a>
			</li>
			<li class="scheme__container-list-item item">
				<a href="#" class="scheme__container-list-link">
					<span class="item-number">5</span>
					<span class="item-text">Пятый этап</span>
				</a>
			</li>
		</ul>
	</div>
</section>
