<section class="work wrapper">
	<div class="left"></div>
	<div class="work__right right">
		<div class="work__right-open section__open">
			<img src="img/advantage/line.png">
			<h2 class="work__right-title title">Выполненные работы</h2>
		</div>

		<div class="work__swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/work/slider.png">
				</div>
				<div class="swiper-slide">
					<img src="img/work/slider.png">
				</div>
				<div class="swiper-slide">
					<img src="img/work/slider.png">
				</div>
			</div>

			<div class="swiper-button-prev">
				<svg>
					<use xlink:href="img/sprite.svg#prev"></use>
				</svg>
			</div>

			<div class="swiper-button-next">
				<svg>
					<use xlink:href="img/sprite.svg#prev"></use>
				</svg>
			</div>
			<div class="swiper-pagination work-pagination"></div>
		</div>
</section>
